<nav class="uk-navbar-container" uk-navbar>
  
  
  
      <div class="uk-navbar-right">
          
                  <ul class="uk-navbar-nav">
                      <li class="uk-active"><a href="/">الهوم</a></li>
                     
                      <li><a href="login">دخول</a></li>
                      <li><a href="register">تسجيل</a></li>
                      <li><a href="myskill">مهاراتي</a></li>                    
                      <li><a href="allskill">المهارات</a></li>
  
                      
                  </ul>
          
              </div>
    
        <div class="uk-navbar-left">
    
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">اضف مهاراتك</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="addskill">بدا</a></li>
                            <li><a href="">خروج</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
    
        </div>
    
       
    
    </nav>