<form>
    <fieldset class="uk-fieldset uk-padding">

        <legend class="uk-legend">الدخول</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="اسمك" name="name" [(ngModel)]="data.name" >
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="الباسوورد" name="pass" [(ngModel)]="data.pass">
        </div>
       
        

        <button class="uk-button uk-button-primary">ارسال</button>
        
      
    </fieldset>
</form>